<div class="sidebar col-md-3">
  <%= render 'messages_tile' %>
</div>

<div class="clearfix col-md-9">
  <% if @users.empty? %>
    <div class="message-box">
      <h2>Your inbox is empty.</h2>
      <p>I'm sure someone is thinking of you...</p>
    </div>
  <% else %>

    <table class="table msg-overview">
      <% @users.each do |id| %>
        <% if User.where(id: id).present? %>
          <tr>

            <td class="msg-content">
              <a href="<%= conversation_path(id) %>" class="clickable-row">
              <div class="msg-username"><%= id %></div>
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

  <% end %>
</div>